<h1 class="text-center mt-2">Atender Solicitud</h1>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="solicitud">Solicitud a atender</label>
        <select class="form-control" name="solicitud" id="solicitud" ngModel required>
          <option *ngFor="let solicitud of listaSolicitudes.solicitudesBoletos" value="{{ solicitud.idSolicitud }}">
            {{ solicitud.nombreSolicitante }} {{ solicitud.cantidad }}
          </option>
        </select>
        <label class="mt-3" for="respuesta">Accion:</label>
        <select class="form-control" name="respuesta" id="respuesta" ngModel required>
          <option value="aprobada">
            Aprobar
          </option>
          <option value="rechazada">
            Rechazar
          </option>
        </select>
      </div>
      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Atender">
      <button routerLink="../" class="btn btn-secondary btn-lg btn-block">Regresar</button>
    </div>
  </div>
</form>
