<h1 class="text-center mt-3">
    Administrar Solicitudes Boletos
  </h1>
  <div class="text-center">
    <img class="mt-2" width="200" alt="Angular Logo"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">
    <div>
      <a class=" mt-5 btn btn-success mb-3" routerLink="/solicitudes/atender">Atender Solicitud</a> <br>
      <a class="btn btn-primary mb-3" routerLink="/solicitudes/visualizar">Visualizar Solicitudes</a> <br>
      <button routerLink="/home" class="btn btn-secondary btn-md">Regresar</button>
    </div>
  </div>
