<h1 class="text-center mt-2">Eliminar Partido</h1>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="partido">Partido a eliminar</label>
        <select class="form-control" name="partido" id="partido" ngModel required>
          <option *ngFor="let partido of listaPartidos.partidos" value="{{ partido.idPartido }}">
            {{ partido.fecha | date }} {{ partido.rival }}
          </option>
        </select>
      </div>
      <input type="submit" class="btn btn-danger btn-lg btn-block" value="Eliminar">
      <button routerLink="../" class="btn btn-primary btn-lg btn-block">Regresar</button>
    </div>
  </div>
</form>
