<h2 class="text-center mt-5">Nutriólogos Actuales</h2>
<div class="row d-flex justify-content-center">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Edad</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cedula Profesional</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nutriologo of listaNutiologos.getListaNutriologo()">
          <td>{{nutriologo.getID()}}</td>
          <td>{{nutriologo.getEdad()}}</td>
          <td>{{nutriologo.getNombre()}}</td>
          <td>{{nutriologo.getCedula()}}</td>
        </tr>
      </tbody>
    </table>
    <a routerLink="../"><button class="btn btn-primary btn-block">Regresar</button></a>
  </div>
</div>
