<h1 class="text-center mt-3">
    Subsistema Miembros - Administrar Jugadores
  </h1>
  <div class="text-center">
    <img class="mt-2" width="200" alt="Angular Logo"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">
    <div>
      <ul class="mt-5">
        <li><a class="btn btn-primary mb-3" routerLink="/miembros/admin-jugadores/visualizar-jugador">Visualizar Jugadores</a></li>
        <li><a class="btn btn-primary mb-3" routerLink="/miembros/admin-jugadores/agregar-jugador">Agregar Jugador</a></li>
        <li><a class="btn btn-primary mb-3" routerLink="/miembros">Eliminar Jugador</a></li>
      </ul>
    </div>
  </div>
