<h1 class="text-center mt-3">
  Sistema Club de Futbol Uamito
</h1>
<div class="text-center">
  <img class="mt-2" width="200" alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">

  <div>
    <a class="mt-3 btn btn-primary mb-3" routerLink="/usuarios">Administrar Usuarios</a> <br>
    <a class="btn btn-primary mb-3" routerLink="/miembros">Administrar Miembros</a> <br>
    <a class="btn btn-primary mb-3" routerLink="/partidos">Administrar Partidos</a> <br>
    <a class="btn btn-primary mb-3" routerLink="/solicitudes">Administrar Solicitudes Boletos</a> <br>
    <a class="btn btn-primary mb-3" href="">Administrar Horarios</a> <br>
    <a class="btn btn-primary mb-3" href="">Administrar Citas</a> <br>
    <button routerLink="../" class="btn btn-secondary btn-md">Salir</button>
  </div>

</div>
