<h1 class="text-center mt-3">
  Sistema Club de Futbol Uamito
</h1>
<div class="text-center">
  <img class="mt-2" width="200" alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">
  <div>
    <ul class="mt-5">
      <li><a class="mt-3 btn btn-primary mb-3" routerLink="/miembros">Subsistema Miembros</a></li>
      <li><a class="btn btn-primary mb-3" href="">Subsistema Boletos</a></li>
      <li><a class="btn btn-primary mb-3" href="">Subsistema Horarios</a></li>
      <li><a class="btn btn-primary mb3" href="">Subsistema Citas</a></li>
    </ul>
  </div>

</div>
