<h1 class="text-center mt-3">
  Administrar Partidos
</h1>
<div class="text-center">
  <img class="mt-2" width="200" alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">
  <div>
    <a class=" mt-5 btn btn-success mb-3" routerLink="/partidos/agregar-partido">Agregar Partido</a> <br>
    <a class="btn btn-danger mb-3" routerLink="/partidos/eliminar-partido">Eliminar Partido</a> <br>
    <a class="btn btn-primary mb-3" routerLink="/partidos/visualizar-partidos">Visualizar Partidos</a> <br>
    <button routerLink="/home" class="btn btn-secondary btn-md">Regresar</button>
  </div>

</div>
