<h1 class="text-center mt-3">
  Subsistema Miembros - Administrar Masajistas
</h1>
<div class="text-center">
  <img class="mt-2" width="200" alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">
  <div class="mt-5">
    <li><a class="btn btn-success mb-3" routerLink="/miembros/admin-masajistas/agregar-masajista">Agregar Masajista</a></li>
    <li><a class="btn btn-danger mb-3" routerLink="/miembros/admin-masajistas/eliminar-masajista">Eliminar Masajista</a></li>
    <li><a class="btn btn-primary mb-3" routerLink="/miembros/admin-masajistas/visualizar-masajista">Visualizar Masajistas</a></li>
    <button routerLink="../" class="btn btn-secondary btn-md">Regresar</button>
  </div>
</div>
