<h1 class="text-center mt-3">
  Subsistema Miembros
</h1>
<div class="text-center">
  <img class="mt-2" width="200" alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLmvsozOe-X1-I_r_TFvPML4dnhp_QboBHXoxIV291rPksdNYwA">
  <div class="mt-5">
      <a class="btn btn-primary mb-3" routerLink="/miembros/admin-jugadores">Administrar Jugadores</a> <br>
      <a class="btn btn-primary mb-3" routerLink="/miembros/admin-medicos">Administrar Médicos</a> <br>
      <a class="btn btn-primary mb-3" routerLink="/miembros/admin-masajistas">Administrar Masajistas</a> <br>
      <a class="btn btn-primary mb-3" routerLink="/miembros/admin-nutriologos">Administrar Nutriólogos</a> <br>
      <button routerLink="/home" class="btn btn-secondary btn-md">Regresar</button>
  </div>

</div>
