<div class="row">
  <div class="col-3">

  </div>
  <div class="col-md-6 col-md-offset-5">
    <div class="form-group mt-5">
      <label for="id">ID</label>
      <input type="number" class="form-control" id="id" aria-describedby="emailHelp" placeholder="ID">
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" id="edad" aria-describedby="emailHelp" placeholder="20">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre completo</label>
      <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Juan Perez">
    </div>
    <div class="form-group">
      <label for="numero">Numero dorsal</label>
      <input type="number" class="form-control" id="numero" aria-describedby="emailHelp" placeholder="10">
    </div>
    <div class="form-group">
      <label for="peso">Peso</label>
      <input type="number" class="form-control" id="peso" aria-describedby="emailHelp" placeholder="80">
    </div>
    <div class="form-group">
      <label for="altura">Altura</label>
      <input type="number" class="form-control" id="altura" aria-describedby="emailHelp" placeholder="180">
    </div>
    <div class="form-group">
      <label for="posicion">Posición</label>
      <input type="text" class="form-control" id="posicion" aria-describedby="emailHelp" placeholder="Delantero">
    </div>
    <button class="btn btn-primary">Agregar</button>
  </div>
</div>
