<h1 class="text-center mt-2">Agregar Jugador</h1>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <div class="row mt-5">
    <div class="col-6">
      <!-- <div class="form-group mt-5">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="ID" ngModel required>
      </div> -->
      <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" class="form-control" id="edad" name="edad" placeholder="20" ngModel required>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Juan Perez" ngModel required>
      </div>
      <div class="form-group">
        <label for="numero">Numero dorsal</label>
        <input type="number" class="form-control" id="numero" name="numero" placeholder="10" ngModel required>
      </div>

      <input type="submit" class="btn btn-success btn-lg btn-block" value="Agregar">

    </div>


    <div class="col-6">
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="number" class="form-control" id="peso" name="peso" placeholder="80" ngModel required>
      </div>
      <div class="form-group">
        <label for="altura">Altura</label>
        <input type="number" class="form-control" id="altura" name="altura" placeholder="180" ngModel required>
      </div>
      <div class="form-group">
        <label for="posicion">Posición</label>
        <select class="form-control" name="posicion" id="posicion" ngModel required>
          <option value="portero">Portero</option>
          <option value="defensa">Defensa</option>
          <option value="medio">Medio</option>
          <option value="delantero">Delantero</option>
        </select>
      </div>
      <button routerLink="../" class="btn btn-primary btn-lg btn-block">Regresar</button>
    </div>
  </div>
</form>
